<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/theme.css" type="text/css">
    <title>Complete</title>
</head>

<body>
    <div class="text-center text-md-right d-flex align-items-center py-5" style="	background-image: url(image/bangkok.jpg);	
                background-position: right bottom;	background-size: cover;	background-repeat: repeat;	background-attachment: fixed;	min-height: 100%;">
        <div class="container" style="background-color: hsla(0, 100%, 99%, 0.85); ">
            <div class="row my-5 mx-3">
                <div class="col-md-6">
                    <h3 class="display-5">เสร็จสิ้นการทำรายการ

                    </h3>
                    <p class="mb-3">ขอบคุณที่ใช้บริการ BBike เมื่อถึงที่หมายที่คุณ
                        <%= data.namecustomers %> ต้องการจะ
                        <%= data.serviceselect %>
                        ทางบริษัทจะรีบทำการติดต่อกลับค่ะ หากพบปัญหาหรือต้องการติต่อกับทางบริษัท สามารถติดต่อได้ทาง
                        ด้านล่างนี้</p>
                    <p>เบอร์โทรศัพท์ : 054-8475632</p>
                    <p>Facebook : BBike</p>
                    <p>Line : @BBike</p>
                    <p>(จ.-ศ. 7.00-23.00 น., ส.-อา. และวันหยุดนักขัตฤกษ์ 9.00-21.00 น.)</p>
                    <p>หรือ อีเมล info@skootar.com</p>
                    <hr>
                </div>
                <div class="col-md-6">


                    <div class="row">
                        <div class="col-md-12">
                            <hr>
                            <h4 class="display-5">รายการของคุณ

                            </h4>

                            <p>
                                บริการ:
                                <%= data.Service %>
                            </p>
                            <p>
                                ราคา:
                                <%= data.Cost %>
                            </p>
                            <p>
                                สถานที่ต้นทาง:
                                <%= data.PlaceOrigin %>
                            </p>
                            <p>
                                สถานที่ปลายทาง:
                                <%= data.PlaceDestination %>
                            </p>



                            <p>
                                ระยะทาง:
                                <%= data.Distance %>
                            </p>
                            <h5 class="text-danger">
                                รหัสในการบริการ:
                                <%= data._id %>
                            </h5>
                            <br>
                            <a class="btn btn-sm btn-outline-primary text-dark" href="/">กลับสู่หน้าหลัก</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous" style=""></script>

</body>

</html>